<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>

<br />

<%= link_to "New File", new_item_path, class: "btn btn-primary" %>
<br />
<br />

<table class = "table table-bordered table-striped">
   <thead>.
      <tr>
         <th>Name</th>
         <th>Download Link</th>
         <th> </th>
      </tr>
   </thead>
   
   <tbody>
      <% @items.each do |item| %>
         
         <tr>
            <td><%= item.name %></td>
            <td><%= link_to "Download File", item.attachment_url %></td>
            <td><%= button_to "Delete",  item, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{item.name}?" %></td>
         </tr>
         
      <% end %>
   </tbody>
   
</table>